{
  "extends": "airbnb",
  "rules": {
    "func-names": ["error", "never"],
    "import/no-extraneous-dependencies": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "eqeqeq": "off",
    "react/prop-types": "off",
    "no-shadow": "off",
    "react/jsx-filename-extension": "off",
    "no-use-before-define": "off",
    "no-unused-vars": "off",
    "no-console": "off",
    "react/prefer-stateless-function": "off",
    "comma-dangle": "off"
  },
  "globals": {
    "fetch": true
  }
}
